.body{
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.box{
    border: 0.5px solid;
    height: auto;
    width: 25vw;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.box span{
    font-size: larger;
}
.temperature{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature h2{
    font-size: 40px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search{
    border-bottom: 1px solid;
    height: 28px;
    width: 13vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 70px;
}
.searchField{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #FFF;
    font-family: 'Montserrat', sans-serif; 
}
::-webkit-input-placeholder{
    color: #FFF;
}
.searchIcon{
    cursor: pointer;
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.imageWeather{
    height: auto;
}
.data{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.data span{
    margin-left: 5px;
    font-size: small;
}
.cloudIcon{
    font-size: small;
}
.pressureIcon{
    width: 15px;
    filter: invert(100%);
}
.citiesTemp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    display: flex;
    justify-content: center;
    align-items: center;
}
.warningIcon{
    color: yellow;
    margin-left: 5px;
}
.loaderPosition{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-box{
    border: 0.5px solid;
    height: 325px;
    width: 10vw;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2px;
    overflow-x: auto;
}
.second-box::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.second-box::-webkit-scrollbar-thumb{
    background-color: #98AFBA;
    border-radius: 5px;
}

.loader{
    animation: is-rotating 1s infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
}
.info{
    border-bottom: 0.5px solid;
}
.info h5{
    font-size: 10px;
}
.forecast h2{
    font-size: 19px;
}
.forecast h5{
    font-size: 8px;
}
@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 835px){
    .body{
        display: flex;
        flex-direction: column-reverse;
    }
    .box{
        width: 80vw;
    }
    .search{
        width: 50vw;
    }
    .second-box{
        display: flex;
        width: 80vw;
        height: 130px;
        justify-content: space-between;
    }
    .date{
        margin-left: 8px;
    }
    .info{
        border-bottom: none;
        border-right: 0.5px solid;
        padding-right: 12px;
        padding-left: 12px;
        margin-left: 0px;
    }
    
}