.header{
    font-family: 'Montserrat', sans-serif;  
    color: #FFF;
    margin-left: 100px;
    display: flex;
}
.cloud{
    width: 150px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
@media screen and (max-width: 835px){
    .header{
        margin-left: 100px;
        font-size: 10px;
    }
    .cloud{
        width: 80px;
    }
}
